.side_bar
  .side_bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons__pen
          = link_to new_group_path, class: "top-items__icons__pen__btn" do
            = icon('far', 'edit')
        %li.top-items__icons__gear
          = link_to edit_user_path(current_user), class: "top-items__icons__gear__btn" do
            = icon('fas', 'cog')

  .side_bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message